
@{
    ViewData["Title"] = "AddExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row container-fluid">
    <div class="col">
        <br>
        <h1>Deneyim Ekle</h1>
        <form class="form-group" method="post">
            <label>Deneyim Başlığı</label><br>
            <input class="form-control" style="color: black" placeholder="" type="text" name="Title"><br>
            <label>Açıklama</label><br>
            <input class="form-control" style="color: black" placeholder="" type="text" name="Description"><br>
            <label>Resim</label><br>
            <input class="form-control" style="color: black" placeholder="" type="text" name="ImageURL"><br>

            <button class="btn-primary btn" >Kaydet</button>
        </form>
    </div>
</div>

