
@{
    ViewData["Title"] = "AddSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row container-fluid">
    <div class="col">
        <br>
        <h1>Yetenek Ekle</h1>
        <form class="form-group" method="post">
            <label>Yetenek Başlığı</label><br>
            <input class="form-control" style="color: black" placeholder="" type="text" name="Title"><br>
            <label>Değer</label><br>
            <input class="form-control" style="color: black" placeholder="" type="text" name="Value"><br>
                    
            <button class="btn-primary btn" >Kaydet</button>
        </form>
    </div>
</div>

